<nav class="navbar navbar-expand-lg p-4 bg-white">
  <div class="container">
    <a routerLink="home" class="navbar-brand fw-bold" routerLinkActive="active-link">
      Logo
    </a>
    <button class="navbar-toggler shadow-sm border-0" type="button" (click)="collapse()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item text-end d-inline-block d-lg-none">
          <button type="button" class="btn btn-close border-0 p-3 icon-close" (click)="collapse()"></button>
        </li>
        <li class="nav-item">
          <a routerLink="home" class="nav-link" (click)="collapse()" routerLinkActive="active-link">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="about" class="nav-link" (click)="collapse()" routerLinkActive="active-link">
            About
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="events" class="nav-link" (click)="collapse()" routerLinkActive="active-link">
            Events
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="courses" class="nav-link" (click)="collapse()" routerLinkActive="active-link">
            Courses
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="blogs" class="nav-link" (click)="collapse()" routerLinkActive="active-link">
            Blogs
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="contact" class="nav-link" (click)="collapse()" routerLinkActive="active-link">
            Contact
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="login" class="nav-link" (click)="collapse()" routerLinkActive="active-link">
            Login
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
